@import "./components/functions";
@import "./components/color";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardContainer{
    width: 80%;
    margin: 0 auto;

    &__heading{
        font-size: pxToRem(35px);
        padding: pxToRem(20px) 0;
    }

    &__input{
        width: 100%;
        padding: pxToRem(10px);
        margin-top: pxToRem(10px);
        font-size: pxToRem(16px);
        border-radius: pxToRem(5px);
        outline: none;
        border: pxToRem(1px) solid $border-color;
    }

    &__navigation{
        margin: pxToRem(10px) 0;
        display: flex;
        flex-wrap: wrap;
        gap: pxToRem(20px);

        &-btn{
            margin: pxToRem(15px) 0;
            font-size: pxToRem(16px);
            padding: pxToRem(10px) pxToRem(20px);
            border: none;
            background-color: $btn-bg;
            border-radius: pxToRem(5px);
            cursor: pointer;
            transition: background-color 0.4s ease;

            &:hover{
                background-color: $btn-hover;
                color: $white-color;
            }
        }
    }

    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: pxToRem(20px);
        
    }
}

.card{
    padding: pxToRem(14px);
    border-radius: pxToRem(6px);
    box-shadow:0 pxToRem(2px) pxToRem(5px) $card-shadow;
    border: pxToRem(0.1px) solid $border-color;
}

.img{
    width: 100%;
    border-radius: pxToRem(6px);
}

.desc{
    font-size: pxToRem(23px);
    margin: pxToRem(15px) 0;
}

.price{
    font-size: pxToRem(18px);
    font-weight: 600;
    color: $red-color;
    margin-top: pxToRem(20px);
}

.tag{
    background-color: $tag-bg;
    padding: pxToRem(5px) pxToRem(10px);
    border-radius: pxToRem(15px);
    color: $black-color;
    font-size: pxToRem(16px);
    font-weight: bold;
    margin-top: pxToRem(20px);
    margin-bottom: pxToRem(15px);
    width: fit-content;
}

@media (max-width: pxToRem(990px)){
    .cardContainer{
        &__cards{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
} 

@media (max-width: pxToRem(690px)){
    .cardContainer{
        &__cards{
            grid-template-columns: 1fr 1fr;
        }
    }
} 

@media (max-width: pxToRem(490px)){
    .cardContainer{
        &__cards{
            grid-template-columns: 1fr;
        }
    }
} 